<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.css' %} ">
    <script src=" {% static './js/country-states.js' %} "></script>
    <link rel="shortcut icon" href=" {% static 'images/favicon.png' %} " type="image/x-icon">
    <link rel="stylesheet" href=" {% static 'assets/css/app.css' %} ">
</head>

<body>
    <div id="auth">
        
<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 mx-auto">
            <div class="card pt-4">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <img src=" {% static 'images/favicon.png' %} " height="48" class='mb-4'>
                        <h3>Sign Up</h3>
                        <p>Please fill the form to register as a DRIVER.</p>
                    </div>
                    <form action="{% url 'driver:dri-signup' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="first-name-column">First Name</label>
                                    <input type="text" id="first-name-column" class="form-control"  name="fname-column">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="last-name-column">Last Name</label>
                                    <input type="text" id="last-name-column" class="form-control"  name="lname-column">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="username-column">Username</label>
                                    <input type="text" id="username-column" class="form-control" name="username-column">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="email-id-column">Email</label>
                                    <input type="email" id="email-id-column" class="form-control" name="email-id-column">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="password1">Password</label>
                                    <input type="password" id="password1" class="form-control" name="password1">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    <input type="password" id="password2" class="form-control" name="password2">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <select type="text" id="country" class="form-control" name="country">
                                    <option>select country</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <span id="state-code" class="form-control"><input type="text" class="form-control" id="state" name="state"></span>
                                </div>
                            </div>
                        </diV>

                                <a href=" {% url 'home' %} ">Have an account? Login</a>
                        <a class="clearfix">
                            <a href="{% url 'driver:dri-signup'%}">
                                <button class="btn btn-primary float-right" id="sign-up-btn">Submit</button>
                            </a>
                        </div>
                    </form>

<!--                    Social Auth Sign Up-->

<!--                    <div class="divider">-->
<!--                        <div class="divider-text">OR</div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-6">-->
<!--                            <button class="btn btn-block mb-2 btn-primary"><i data-feather="facebook"></i> Facebook</button>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->
<!--                            <button class="btn btn-block mb-2 btn-secondary"><i data-feather="fa fa-google"></i> Google</button>-->
<!--                        </div>-->
<!--                    Social Auth SignUp Ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
    <script src=" {% static 'assets/js/feather-icons/feather.min.js' %} "></script>
    <script src=" {% static 'assets/js/app.js' %} "></script>
    <script src=" {% static 'assets/js/main.js' %} "></script>
    <script>
        // user country code for selected option
let user_country_code = "IN";

(function () {
    // script https://www.html-code-generator.com/html/drop-down/country-region

    // Get the country name and state name from the imported script.
    let country_list = country_and_states['country'];
    let states_list = country_and_states['states'];

    // creating country name drop-down
    let option =  '';
    option += '<option>select country</option>';
    for(let country_code in country_list){
        // set selected option user country
        let selected = (country_code == user_country_code) ? ' selected' : '';
        option += '<option value="'+country_code+'"'+selected+'>'+country_list[country_code]+'</option>';
    }
    document.getElementById('country').innerHTML = option;

    // creating states name drop-down
    let text_box = '<input type="text" class="input-text" id="state">';
    let state_code_id = document.getElementById("state-code");

    function create_states_dropdown() {
        // get selected country code
        let country_code = document.getElementById("country").value;
        let states = states_list[country_code];
        // invalid country code or no states add textbox
        if(!states){
            state_code_id.innerHTML = text_box;
            return;
        }
        let option = '';
        if (states.length > 0) {
            option = '<select id="state">\n';
            for (let i = 0; i < states.length; i++) {
                option += '<option value="'+states[i].code+'">'+states[i].name+'</option>';
            }
            option += '</select>';
        } else {
            // create input textbox if no states 
            option = text_box
        }
        state_code_id.innerHTML = option;
    }

    // country select change event
    const country_select = document.getElementById("country");
    country_select.addEventListener('change', create_states_dropdown);

    create_states_dropdown();
})();

    </script>
</body>

</html>
