{% extends 'base.html' %}
{% load static %}
<body>
    <div id="error">

<div class="container text-center pt-32">
    <h1 class='error-title'>403</h1>
<p>{% if exception %}{{ exception }}{% else %}You're not allowed to access this page.{% endif %}</p>
    <a href="{% url 'home' %}" class='btn btn-primary'>Go Home</a>
</div>

        <div class="footer pt-32">
            <p class="text-center">Thanks For Making This A Reality</p>
        </div>
    </div>
{% block footer %}
{% endblock footer %}

</body>
</html>
