{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" id="error">

<div class="container text-center pt-32">
    <h1 class='error-title'>404</h1>
    <p>we couldn't find the page you are looking for</p>
    <a href="{% url 'home' %}" class='btn btn-primary'>Go Home</a>
    <div class="footer pt-32">
           <p class="text-center">Thanks For Making This A Reality ❤</p>
    </div>
</div>

    </div>
{% endblock content %}
    {% block footer %}

    {% endblock footer %}
