<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.css' %} ">
    <script src=" {% static './js/country-states.js' %} "></script>
    <link rel="shortcut icon" href=" {% static 'images/favicon.png' %} " type="image/x-icon">
    <link rel="stylesheet" href=" {% static 'assets/css/app.css' %} ">
</head>

<body>
    <div id="auth">

<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 mx-auto">
            <div class="card pt-4">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <img src=" {% static 'images/favicon.png' %} " height="48" class='mb-4'>
                        <h3>Sign Up</h3>
                        <p>Please fill the form to register as an investor.</p>
                    </div>
                    <form action="{% url 'inv-signup' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    {{ form.username }}
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="passowrd1">Password</label>
                                    {{ form.password1 }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    {{ form.password2 }}
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="phone_no">Phone</label>
                                    {{investor.phone_no}}
                                </div>
                            </div>
                            {{ investor.media.js }}
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    {{ investor.country }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="state">State</label>
                                    {{ investor.state }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    {{ investor.address }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="acc_name">Account Name</label>
                                    {{ investor.acc_name }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="acc_no">Account No</label>
                                    {{ investor.acc_no }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="bank_name">Bank Name</label>
                                    {{ investor.bank_name }}
                                </div>
                            </div>

                        </diV>

                                <a href=" {% url 'login'%} ">Have an account? Login</a>
                        <div class="clearfix">
                            <button class="btn btn-primary float-right">Submit</button>
                        </div>
                    </form>
                    <div class="divider">
                        <div class="divider-text">OR</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-block mb-2 btn-primary"><i data-feather="facebook"></i> Facebook</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-block mb-2 btn-secondary"><i data-feather="google"></i> Google</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
    <script src=" {% static 'assets/js/feather-icons/feather.min.js' %} "></script>
    <script src=" {% static 'assets/js/app.js' %} "></script>

    <script src=" {% static 'assets/js/main.js' %} "></script>
</body>

</html>
