<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Flat Progress Bar CSS e HTML</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel="stylesheet" href=" {% static 'css/dashboard/style.css' %} " />
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  </head>
  <body>
    <div class="container align-center">
      <div class="row align-items-start text-center">
        <div class="col">
            <p><b>Tenure</b></p>
          <div class="progress-pie-chart" data-percent="100">
            <div class="ppc-progress">
              <div class="ppc-progress-fill"></div>
            </div>
            <div class="ppc-percents">
              <div class="pcc-percents-wrapper">
                <span>%</span>
              </div>
            </div>
          </div>
          <small>week 44 </small>
        </div>
        <div class="col text-center">
          <p><b>Earning</b></p>
          <hr />
          <p>N160,000</p>
          <hr />
          <p>N160,000,000</p>
        </div>
        <div></div>
        <div class="card col text-center">
          <div class="card-header">
          <p><b>Started</b></p>
          </div>
          <div class="card-body">
          <p class="card-text">1 June 2020</p>
          <p class="card-title"><b>Ending</b></p>
          <hr />
          <p class="card-text">1 June 2022</p>
        </div>
      </div>
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src=" {% static './js/dashboard/script.js' %} "></script>
  </body>
</html>
